# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Logs
*.log

# Env files
.env

# Git
.git
.gitignore

# OS stuff
.DS_Store
Thumbs.db

# Virtualenv
venv/
env/

# Node dependencies (if any)
node_modules/

# IDEs
.vscode/
.idea/

# Tests
coverage/



