{% extends "admin/change_form.html" %}
{% load static %}

{% block content %}
  {{ block.super }}

<div style="margin-top: 40px;" class="col-12">
  <h3 style="font-size: 20px; font-weight: 100; margin-bottom: 20px;">📊 Customer tour History</h3>

  <div style="width: 100%; overflow-x: auto;">
    <!-- Header -->
    <div style="
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: #f8f9fa;
      font-weight: 600;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    ">
      <div style="padding: 12px;">Tour</div>
      <div style="padding: 12px;">Tour date</div>
      <div style="padding: 12px;">Transfer Type</div>
      <div style="padding: 12px;">Agent</div>
      <div style="padding: 12px;">Created At</div>

    </div>



    <!-- Body -->
    {% for row in default_table %}
      <div style="
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: #fff;
        border-bottom: 1px solid #eee;
      ">
        {% for cell in row %}
          <div style="padding: 10px 12px;">{{ cell }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
